<!DOCTYPE html>
<html>
<head>
<title> Password Reset Confirmation </title>
</head>
<body>
<p> Dear {{ name }},</p>

<p>The password for your Samscloud account ID ({{ email }}) has been successfully reset.</p>

<p>If you didn’t make this change or if you believe an unauthorized person has accessed your account,
    go to your account and reset your password immediately.
    Then sign into your Samscloud ID account page at https://appleid.apple.com to review and update your security settings.</p>

<p>If you need additional help, contact support@samscloud.io .</p>

<p>Thank You,</p>

<p>Samscloud Support</p>
</body>
</html>