<!DOCTYPE html>
<html>
<head>
<title> Reset Password</title>
</head>
<body>
    <p> Dear {{ username }},</p>
    <p>We've generated a URL to reset your password. If you did not request to reset your password or If you've changed your
    mind simply, ignore this mail and nothing will happen</p>
    <p>Your can set your password by clicking the following URL</p>
    <p><a href="{{ reset_password_url }}"> Reset Password </a></p>
<p>if clicking the above URL does not work, copy and paste the URL into a browser window. The URL will expire in 2 hours</p>
<p>Thank You,</p>
<p> SamsCloud Support</p>
</body>
</html>